h1{
  font-size: 5rem;
  width:50%;
  margin:auto;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: rainbow;
  animation-duration: 2s; 
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  background-image: linear-gradient(-90deg, purple,cyan);
  transform: skewX(-10deg);

}

body{
  background-color:beige;
  filter:invert(0) saturate(250%);
  animation-name:flicker;
  animation-duration:1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  font-family: 'Times New Roman', Times, serif;

}


@keyframes rainbow{
    0%{
      filter:blur(10px);
      opacity:0.1;
      letter-spacing: -4rem;}
    50%{}
    100%{  
    text-shadow: 0.1rem 0.1rem rgba(200,100,100,0.3), -0.1rem -0.1rem rgba(100,200,100,0.3);
    }
}

h2{
  margin: auto;
  width:50%;
  color:purple;
  transform: skewX(-10deg);
  animation-name:wobble;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-shadow: 0.1rem 0.1rem rgba(200,100,100,0.3), -0.1rem -0.1rem rgba(100,200,100,0.3);
}

@keyframes wobble{
  0%{filter:blur(40px);
    opacity:0}
  100%{}
}

h3{
  margin: auto;
  width:50%;
  color:purple;
  transform: skewX(-10deg);
  animation-name:drop,wobble;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-shadow: 0.1rem 0.1rem rgba(200,100,100,0.3), -0.1rem -0.1rem rgba(100,200,100,0.3);
}

@keyframes drop{
  0%{transform: translateY(-10rem) translateX(2rem);
    }
  100%{}
}

@keyframes slideIn{
  0%{transform: translateX(-4rem);
    }
  100%{}
}

input{
  width:100%;
  transform: skewX(-10deg);
  filter:blur(1px);
  text-align:center;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color:  rgb(109, 6, 129);
  background-image:linear-gradient(30deg, rgba(0, 155, 28, 0.308),rgba(0, 0, 255, 0.301));
}

input:focus{
  width:100%;
  transform: skewX(-10deg);
  filter:blur(0px);
  text-align:center;
  font-size: 3rem;
  color:  rgb(109, 6, 129);
  background-image:linear-gradient(30deg, rgba(0, 155, 28, 0.308),rgba(0, 0, 255, 0.301));
}

